@font-face {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}
body {
font-family:"Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
#title {
font-size:64px;
font-weight:bold;
color:#008000
}

th {
background:#0B0B5C;
color:#ffffff;
}

tr.Success {
background:#B2FFB2;
color:#008000;
}

tr.Warning {
background:#FCE4AB;
color:#B5790C;
}

tr.Failure {
background:#FFC0CB;
color:#FF0000;
}